{% extends 'base.html' %}
{% block content %}
<div class="container my-5 p-4 border border-dark rounded shadow" style="width: 40%;background-color:mistyrose">
    <h1 class="text-center text-monospace font-weight-bold">Register</h1>
    <form action="register" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="text" class="form-control" id="inputEmail4" name="first_name" placeholder="First Name" required/>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="text" class="form-control" id="inputPassword4" name="last_name" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Username</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="username" placeholder="username" required/>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="email" class="form-control" id="formGroupExampleInput2" name="email" placeholder="Email" required/>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" name="password1"
                placeholder="Password" required/>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Confirm Password</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" name="password2"
                placeholder="Confirm Password" required/>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    <div>
        {% for message in messages %}
        <p class="text-danger my-2">{{message}}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}}