<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'main/bootstrap-min.css' %}"/>
        <style>
            body{
                font-family: zekton;
                font-size:15px;
                background-color: #00000f;
            
            }
            .jumbotron{
                font-weight:bold;
                padding-bottom:15px;
                padding-top:15px;
                border-bottom:solid 1 px blue;
                vertical-align: center;
                background-color:#009688;

            }
            .form-group{
                padding:2px;
                margin:0px;
            }
            input,label{
                margin:4px;
                color:#00bcd4;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
        <h1>    Laptop Sales Predictor</h1>
        </div>

        <div class='container ml-3'>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
            <div class="form-group col">
            <label>Manufacturer: </label>
            <select name="manufacturer" class="form-control" required>
                {% for manufacturer in manufacturers %}
                <option value="{{ manufacturer }}">{{ manufacturer }}</option>
                {% endfor %}
            </select><br/>
            </div>
            <div class="form-group col">
            <label>Category: </label>
            <select name="category" class="form-control" required>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select><br/>
        </div>
    </div>
        <div class="row">
        <div class="form-group col">
        
            <label>Screen Size: </label>
            <select name="screen_size" class="form-control" required>
                {% for screen_size in screen_sizes %}
                <option value="{{ screen_size }}">{{ screen_size }}</option>
                {% endfor %}
            </select><br/>
        </div>
        <div class="form-group col">
            <label>Screen Resolution: </label>
            <select name="screen_res" class="form-control" required>
                {% for screen in screen_res %}
                <option value="{{ screen }}">{{ screen }}</option>
                {% endfor %}
            </select><br/>
        </div>
        </div>
        <div class="row">
        <div class="form-group col">
            <label>CPU: </label>
            <select name="cpu"  class="form-control" required>
                {% for cpu in cpus %}
                <option value="{{ cpu }}">{{ cpu }}</option>
                {% endfor %}
            </select><br/>
        </div>
        <div class="form-group col">
            <label>RAM: </label>
            <select name="ram" class="form-control" required>
                {% for ram_val in ram %}
                <option value="{{ ram_val }}">{{ ram_val }}</option>
                {% endfor %}
            </select><br/>
        </div>
        </div>
        <div class="row">
        <div class="form-group col">
            <label>Storage: </label>
            <select name="storage" class="form-control" required>
                {% for storage_val in storage %}
                <option value="{{ storage_val }}">{{ storage_val }}</option>
                {% endfor %}
            </select><br/>
        </div>
        <div class="form-group col">
        <label>GPU: </label>
            <select name="gpu" class="form-control" required>
                {% for gpu_model in gpu %}
                <option value="{{ gpu_model }}">{{ gpu_model }}</option>
                {% endfor %}
            </select><br/>
            </div>
            </div>
        <div class="row">
         <div class="form-group col">
            <label>Operating System: </label>
            <select name="os_val" class="form-control" required>
                {% for os_val in os_name %}
                <option value="{{ os_val }}">{{ os_val }}</option>
                {% endfor %}
            </select><br/>
        </div>
        <div class="form-group col">
            <label> Weight: </label>
            <select name="weight" class="form-control" required>
                {% for weight_val in weight %}
                <option value="{{ weight_val }}">{{ weight_val }}</option>
                {% endfor %}
            </select><br/>
        </div>
        </div>
        <div class="form-group" >
            <label>Price: </label>
            <input type="number" class="form-control" step="0.01" name="price" placeholder="price" required/><br />
            <input type="submit" class="btn btn-primary" value="Predict" />
        </div>
        </form>
        {% for message in messages %}
            <div class="alert alert-info">Prediction: {{ message }}</div>
        {% endfor %}
    </div>

    </body>
</html>